<md-list>
  <ng-container *ngFor="let recipe of recipes">
    <md-list-item>
      <span (click)="goToDetail(recipe)" fxFlex="1 0 auto">{{recipe.name}}</span>

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="goToEdit(recipe)">
          <md-icon>edit</md-icon>
          <span>Edit</span>
        </button>
        <button md-menu-item (click)="delete(recipe)">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </md-list-item>
    <md-divider></md-divider>
  </ng-container>
</md-list>

<div class="floating-action-button">
  <button md-fab (click)="goToAdd()"><md-icon>add</md-icon></button>
</div>
