<div class="container">
  <div>
    <label>Name: </label>
    <input [(ngModel)]="recipe.name" placeholder="name" />
  </div>
  <div>
    <label>Ingredients: </label>
    <div *ngFor="let _ of recipe.ingredients; index as i; trackBy: getIndex">
      <input [(ngModel)]="recipe.ingredients[i]" />
      <button (click)="removeIngredient(i)">x</button>
    </div>
    <button (click)="addIngredient()">add ingredient</button>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>
</div>
