/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.floating-action-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.container {
  padding: 16px;
}
